body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
img,
button {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.container {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 17px 0px;
}
.logo-span {
  color: #2e2f42;
}
.nav-list {
  display: none;
}

.contacts {
  font-style: normal;
  margin-left: auto;
  display: none;
}
.open-menu-btn {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  border: none;
}
.mob-menu {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 12;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-button-close {
  margin-left: auto;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-bottom: 24px;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid grey;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-button-close:hover,
.mob-button-close:focus {
  background-color: #404bbf;
  border: none;
}
.mob-button-close:hover > .mob-close-icon,
.mob-button-close:focus > .mob-close-icon {
  fill: #ffffff;
}

.mob-nav-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.mob-nav-link:hover,
.mob-nav-link:focus {
  color: #404bbf;
}
.mob-contacts {
  margin-bottom: 48px;
}
.mob-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mob-contacts-link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mob-contacts-link:hover,
.mob-contacts-link:focus {
  color: #4d5ae5;
}
.mob-media-links-list {
  display: flex;
  gap: 40px;
}

.mob-media-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-media-link:hover,
.mob-media-link:focus {
  background-color: #31d0aa;
}

/* Baner */
.baner {
  background-color: #2e2f42;
  padding: 72px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/baner-background/baner-background-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .baner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/baner-background/baner-background-mob-2x.jpg);
  }
}
.main-heading {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 216px;
  margin: 0 auto;
}
.order-service-button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 72px auto 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
}
.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}
/* Advantages */
.our-advantages {
  padding: 96px 0;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.advantages-item {
  width: 100%;
}
.advantage-item-icon-container {
  display: none;
}

.advantage-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
  text-align: center;
}
.advantage-description {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Our Team */
.our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-tablet-container {
  padding-left: 28px;
  padding-right: 28px;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.team-list-item {
  background-color: #fff;
  width: 100%;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-member-description {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.team-member-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-member-role {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-member-links-list {
  display: flex;
  gap: 24px;
}
.team-member-links-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-member-links-link:hover,
.team-member-links-link:focus {
  background-color: #404bbf;
}

.social-link-icon {
  fill: #f4f4fd;
}
/* Portfolio */
.portfolio {
  padding: 96px 0;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.portfolio-list-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .app-description {
  transform: translateY(0);
}

.app-image {
  position: relative;
  overflow: hidden;
}
.app-description {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-list-item-description {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.footer-company-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-social-media-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-media-links-list {
  display: flex;
  gap: 16px;
}
.footer-media-links-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon {
  fill: #f4f4fd;
}
.footer-media-links-link:hover,
.footer-media-links-link:focus {
  background-color: #31d0aa;
}

.footer-form-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-form-input {
  padding-left: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  width: 288px;
  height: 40px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-form-input::placeholder {
  color: #fff;
}
.footer-form-button {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  align-self: center;
}

.footer-form-icon {
  fill: #fff;
  margin-left: 16px;
}

/* Modal Window */
.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
  background-color: #404bbf;
  border: none;
}
.button-close:hover > .modal-icon,
.button-close:focus > .modal-icon {
  fill: #ffffff;
}
.modal-form-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.modal-form-input-container {
  margin-bottom: 8px;
}
.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-form-input {
  position: relative;
  border-radius: 4px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input::placeholder {
  color: #4d5ae5;
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-icon-input {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon-input {
  fill: #4d5ae5;
}
.modal-form-textarea {
  margin-bottom: 16px;
}
.modal-form-text {
  min-width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f4266;
  border-radius: 4px;
  resize: none;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-text:focus {
  border-color: #4d5ae5;
}
.modal-form-checkbox {
  margin-bottom: 24px;
}
.terms {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  font-family: inherit;
}
.privacy-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  fill: transparent;
  margin-right: 8px;
  flex-shrink: 0;
}
input[type="checkbox"]:checked + .terms .privacy-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin: 0 auto;
}
.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #404bbf;
}

/* Adaptation for TABLET */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .open-menu-btn {
    display: none;
  }
  .mob-menu {
    display: none;
  }
  .logo {
    margin-right: 120px;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .nav-list-item-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-item-link:hover,
  .nav-list-item-link:focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
  }
  .current::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .contacts {
    display: block;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-item-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-item-link:hover,
  .contacts-item-link:focus {
    color: #404bbf;
  }
  /* BANER */
  .baner {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/baner-background/baner-background-tab.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .baner {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/baner-background/baner-background-tab-2x.jpg);
    }
  }
  .main-heading {
    font-size: 56px;
    line-height: 1.07;
  }
  .order-service-button {
    margin: 52px auto 0 auto;
  }
  /* ADVANTAGES */
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .advantages-item {
    width: calc((100% - 24px) / 2);
  }
  .advantage-title {
    text-align: start;
  }
  /* OUR TEAM */
  .team-tablet-container {
    padding-left: 108px;
    padding-right: 108px;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .team-list-item {
    width: calc((100% - 24px) / 2);
  }
  /* Portfolio */
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
  }
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
  /* Footer */
  .footer-container {
    padding-left: 108px;
    padding-right: 108px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .footer-company-info {
    align-items: flex-start;
  }
  .footer-social-media-title {
    align-self: start;
  }
  .footer-form-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: start;
  }
  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-form-input {
    width: 264px;
  }
  /* Modal form */
  .modal-content {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
/* Adaptation for DESKTOP */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }
  .contacts-item-link {
    font-size: 16px;
    line-height: 1.5;
  }
  /* BANER */
  .baner {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/baner-background/baner-background.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .baner {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/baner-background/baner-background-2x.jpg);
    }
  }
  .main-heading {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    max-width: 496px;
  }
  .order-service-button {
    margin: 48px auto 0 auto;
  }
  /* ADVANTAGES */
  .our-advantages {
    padding: 120px 0;
  }
  .advantages-list {
    gap: 24px;
  }
  .advantages-item {
    width: calc((100% - 72px) / 4);
  }
  .advantage-item-icon-container {
    display: flex;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
    align-items: center;
    height: 112px;
  }
  .advantage-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .advantage-description {
    font-weight: 400;
  }
  /* OUR TEAM */
  .our-team {
    padding: 120px 0;
  }
  .team-tablet-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .team-list {
    gap: 24px;
  }
  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
  /* Portfolio */
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    row-gap: 48px;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
  /* Footer */
  .footer-container {
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: nowrap;
  }
  .footer-company-info {
    margin-right: 120px;
  }

  .footer-form-container {
    margin-left: auto;
  }
  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-form-input {
    width: 264px;
  }
  /* Modal Form */
}
